<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns="http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id = "com.sheamuspy.pg1"
  versionCode = "11"
  version = "1.0.1">
    <!-- versionCode is optional and Android only -->
    <name>Phone Gap practice1</name>
    <description>
      Demo phone for MWC fall 2015
    </description>
    <author href="http://www.ashesi.edu.gh" email="sheamuspy@gmail.com">
      Sheamus Punch Yebisi
    </author>
    <gap:platform name="android"/>
  </widget>
